.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("24058265_aug_8_02.jpg");
  background-size: cover;
}

.App-header {
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 35px 5px 25px;
}

.Message-content > .username {
  display: block;
  font-weight: bold;
  color: rgb(66, 251, 5);
  font-size: 20px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #222c36;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #09453e;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 40px;
}

input {
  background-color: transparent;
  padding: 5px;
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  flex-grow: 1;
  height: 45px;
  color: #ffffff;
}
input:focus {
  background-color: #2c373c;
  transition: 0.5s;
}

button {
  margin: 6px;
  width: auto;
  background-color: hsla(0, 96%, 48%, 0.734);
  border: 1px solid hsla(0, 96%, 48%, 0.2);
  border-radius: 10px;
  padding: 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.33s ease;
}
button:hover {
  background-color: rgb(43, 43, 44);
  border-color: rgb(43, 43, 44);
}
